.testimonials {
    padding: 90px 24px;
    text-align: center;
    background: url(/img/texture.png) 50% 50% / cover;
}
.testimonials__top {
    padding-bottom: 50px;
    position: relative;
}
.testimonials__top::after{
    position: absolute;
    content: '';
    background-color: rgba(84, 78, 76, 0.09);
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;

}

.testimonials__carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    
}

.testimonials__nav-button {
    display: inline-block;
    border-radius: 50%;
    padding: 6px;
    background-color: var(--section-name-color);
    cursor: pointer;
}
.testimonials__nav-button:hover {
    transition: .1s linear;
    background-color: var(--section-name-hover-color);
}
.testimonials__nav-button img{
    display: block;
    height: 12px;
    width: 12px;
    color: #fff;
}
@media (min-width: 768px) {
    .testimonials__nav-button img{
        height: 20px;
        width: 20px;
    }
}
.testimonials__nav-button-right {
    transform: rotate(180deg);
}

.testimonials__list{
    list-style: none;

}

.testimonials__item{
    user-select: none;
}
.testimonials__item.swiper-slide{
    display: flex;
    justify-content: center;
}
.testimonials__item-container{
    max-width: 740px;
}
.testimonials__item-avatar {
    display: flex;
    justify-content: center;
}
.testimonials__item-avatar img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.testimonials__item-name {
    color: var(--section-heading-color);
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
}
.testimonials__item-text {
    color: var(--section-descr-color);
    font-family: "Spectral", serif;
    font-size: 17px;
    font-weight: 400;
    margin-top: 20px;
}
.testimonials__item-date {
    font-family: "Spectral", serif;
    margin-top: 20px;
    color: var(--section-email-color);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}
/* 
.swiper-button-prev{
    left: 0 !important;
    margin-left: -5px;
}
.swiper-button-next{
    right: 0 !important;
} */
.swiper-button-prev::after,
.swiper-button-next::after{
    color: var(--section-name-color);
    /* font-size: 24px !important; */

}


.swiper-pagination.carousel__pagination{
    position: relative;
    margin-top: 40px;
}
.swiper-pagination.carousel__pagination span{
    background-color: var(--section-name-color);

}

.testimonials-gallery {
    list-style: none;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 50px 0 0;
}
@media (min-width: 480px) {
    .testimonials-gallery{
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1024px) {
    .testimonials-gallery{
        gap: 30px;
        grid-template-columns: repeat(6, 1fr);
    }
}
.testimonials-gallery__item {
    text-align: center;
}
/* .testimonials-gallery__img {
} */
.testimonials-gallery__img img{
    /* width: 100%; */
    /* width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    flex: 0.33; */
    width: 100%;
    aspect-ratio: 1 / 1; 
    object-fit: cover; 
    display: block;
}
.testimonials-gallery__subtitle {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 400;
    color: var(--section-descr-color);
    font-family: "Spectral", serif;
    font-style: italic;
}