/* .vineyards {
} */
@media (min-width: 768px) {
    .vineyards{
        display: flex;
    }
}
/* .vineyards__left {
} */
@media (min-width: 768px) {
    .vineyards__left{
        width: 50%;
        display: flex;
        justify-content: center;
    }
}
.vineyards__content {
    padding: 90px 30px;
}
@media (min-width:768px) {
    .vineyards__content{
        padding: 100px 30px 90px;
        max-width: 630px;
    }
}

.vineyards__text {
    color: var(--section-descr-color);
    font-size: 17px;
    font-family: "Spectral", serif;
    margin-top: 25px;
}
.vineyards__address {
    display: flex;
    margin-top: 25px;
}
.vineyards__address-icon {
    margin: 0 7.5px;
    display: block;
}
.vineyards__address-icon img{
    max-height: 50px;
}
@media (min-width: 768px) {
    .vineyards__address-icon img{
        max-height: 70px;
    }   
}
.vineyards__address-content {
    margin: 0 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vineyards__address-title {
    font-size: 24px;
    color: var(--section-heading-color);
    font-weight: 500;
}
@media (min-width: 768px) {
    .vineyards__address-title {
        font-size: 26px;
    }   
}
@media (min-width: 1024px) {
    .vineyards__address-title {
        font-size: 28px;
    }   
}
.vineyards__address-description {
    color: var(--section-descr-color);
    font-size: 17px;
    font-family: "Spectral", serif;
}
.vineyards__img{
    overflow: hidden;
}
@media (min-width: 768px) {
    .vineyards__img {
        width: 50%;
    }
}
.vineyards__img img{
    width: 100%;
    
}
@media (min-width: 768px) {
    .vineyards__img img{
        display: flex;
        height: 100%;
        object-fit: cover;
        object-position: 61% 0%;
    }
}